@charset "utf-8";
.blog.py-lg-4.py-md-3.py-sm-3.py-3 {
    background-color: #0C4324;
}
.sub-below-address.py-lg-4.py-md-3.py-sm-3.py-3 {
    background-color: #0C4324;
}
.container-fluid .row .col-lg-6.col-md-6.address-w3l-right.text-center {
    background-color: #E1CCB1;
}
.sub-below-address.py-lg-4.py-md-3.py-sm-3.py-3 {
    background-color: #0E4326;
}
.short_ls li a {
    background-color: #0E4326;
}
